body {
    background-color: #000;
    color: $main-color;
    font-size: $main-size;
    font-family: $main-font;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topper {
    text-align: center;
    margin-top: 3em;
}

.mainheader {
    font-size: $header-size;
    font-weight: bold;
    font-family: $main-font;
}
.subtitle {
    font-weight: bold;
    font-size: 1.3em;
    margin: .6em 0 3em 0;
}

.linkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.linkbox img {
    height: $link_size;
    width: $link_size;
    margin: 1em;
}

.hidden {
    display: none;
}

.lightbox {
    width: 400px;
    background-color: #000;
    border: solid 3px #fff;
    border-radius: 1em;
    padding: 2em;
    position: fixed;
    margin: 0px auto;
    top: 3.5em;
}
.closebutton {
    font-family: $main-font;
    color: $main-color;
    font-size: 1.5em;
    position: absolute;
    text-decoration: none;
}
.closebutton:hover {
    color: #909090;
}

.songinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100%;
}

.songtitle {
    font-size: $header-size;
    font-weight: bold;
    margin: .5em;
}
.genre {
    font-weight: lighter;
    margin: .8em;
}
.albumart {
    width: 200px;
    height: 200px;
    margin: 1.2em;
}
.description{
    font-size: .8em;
    text-align: center;
    line-height: $main-size;
}
